body {
  background-color: #d6d6d6;
}

.font-weight-bold {
  letter-spacing: 0.085em;
}
.aboutPhoto {
  height: 100%;
}

.portfolioScroll {
  overflow-x: auto;
  white-space: nowrap;
}

.scrollIndicator {
  font-size: 30px;
  width: 60px;
  height: 60px;
  z-index: 1;
  float: right;
}
